html {
  height: 100%;
}

body {
  background: rgb(46, 44, 44);
  background: radial-gradient(
    circle,
    rgba(46, 44, 44, 1) 11%,
    rgba(24, 45, 86, 1) 99%
  );
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  text-align: center;
  position: relative;
  width: 669px;
  height: 446px;
  margin-top: 120px;
  margin-inline-start: 28%;
  color: goldenrod;
  box-shadow: -1px 1px 20px 4px rgba(255, 255, 255, 1);
  font-family: Tahoma;
}

.container::after {
  content: "";
  background: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/081/778/original/scott-rodgerson-PteeDvACFak-unsplash.jpg?1684017905");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.container > * {
  position: relative;
  z-index: 1;
  opacity: 1;
}

h1 {
  font-size: 50px;
  padding: 15px;
  margin-bottom: 5px;
}

select {
  border: 3px solid goldenrod;
  color: #77080e;
  font-family: Tahoma;
}

.date-time {
  border: 3px solid goldenrod;
  color: #77080e;
  background: white;
  margin-right: 250px;
  margin-left: 250px;
  margin-top: 30px;
  margin-bottom: 20px;
}

footer {
  text-align: center;
  color: #b10c14;
  margin-top: 75px;
  font-family: Tahoma;
}

a {
  color: goldenrod;
  font-family: Tahoma;
}

a::visited {
  color: goldenrod;
  text-decoration: none;
}
